.welcome-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3ebff;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    padding: 100px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 100%;
    height: 35vh;
    margin-top: -10%;
  }
  
  h1{
    color: #6b23d4;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h3 {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .next-button {
    background-color: #6b23d4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .next-button:hover {
    background-color: #5821b7;
  }
  