<form [formGroup]="CreateRoomForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <img src="images/logo.jpg" alt="Logo" class="logo"/>
  
    <div>
      <h2>Room Name</h2>
      <input id="roomName" formControlName="roomName" placeholder="Enter Room Name" 
      [ngClass]="CreateRoomForm.controls['roomName'].errors &&
         CreateRoomForm.controls['roomName'].touched? 'is-invalid': ''   " required/>
        @if (
          CreateRoomForm.controls["roomName"].errors &&
          CreateRoomForm.controls["roomName"].touched 
          ){
  
            @if (CreateRoomForm.controls["roomName"].errors["required"]) {
              <div class="invalid-feedback">Room Name is required</div>
            }
            @if (CreateRoomForm.controls["roomName"].errors["minlength"]) {
              <div class="invalid-feedback">Minimum 3 Characters required</div>
            }
          }
    </div>
    
    <div>
      <h2>Description</h2>
      <textarea id="description" formControlName="description" placeholder="Room Description"
      [ngClass]="CreateRoomForm.controls['description'].errors &&
         CreateRoomForm.controls['description'].touched? 'is-invalid' : '' "></textarea>
        @if (
          CreateRoomForm.controls["description"].errors &&
          CreateRoomForm.controls["description"].touched
          ){
  
            @if (CreateRoomForm.controls["description"].errors["required"]) {
              <p class="invalid-feedback">Description is required</p>
            }
            @if (CreateRoomForm.controls["description"].errors["maxlength"]) {
              <p class="invalid-feedback">Description should not exceed 500 Characters</p>
            }
            @if (CreateRoomForm.controls["description"].errors["minlength"]) {
              <p class="invalid-feedback">Description should be at least 3 Characters</p>
            }
          }
    </div>
    
    <div>
      <h2>Capacity</h2>
      <input id="capacity" type="number" placeholder="0" formControlName="capacity"
      [ngClass]="CreateRoomForm.controls['capacity'].errors &&
      CreateRoomForm.controls['capacity'].touched ? 'is-invalid' : ''" />
      <!-- <ngx-slider [(value)]="value" [options]="options"  class="slider"></ngx-slider> -->

      @if(
        CreateRoomForm.controls['capacity'].errors &&
        CreateRoomForm.controls['capacity'].touched
      ){
        @if(CreateRoomForm.controls['capacity'].errors['required']){
          <p class="invalid-feedback">Capacity is required</p>
        }
        @if(CreateRoomForm.controls['capacity'].errors['min']){
          <p class="invalid-feedback">Capacity should be at least 1</p>
        }
        @if(CreateRoomForm.controls['capacity'].errors['max']){
          <p class="invalid-feedback">Capacity should not exceed 5</p>
        }
        
      }
      
    </div>
    
    <div>
      <h2>WhatsApp Link</h2>
      <input id="whatsappLink" formControlName="whatsappLink" placeholder="whatsapp Link"
      [ngClass]="CreateRoomForm.controls['whatsappLink'].errors && CreateRoomForm.controls['whatsappLink'].touched ?'is-invalid':''  ">
    @if(
      CreateRoomForm.controls['whatsappLink'].errors && CreateRoomForm.controls['whatsappLink'].touched
    ){
      @if(CreateRoomForm.controls['whatsappLink'].errors['required']){
        <p class="invalid-feedback">WhatsApp Link is required</p>
      }
      @if(CreateRoomForm.controls['whatsappLink'].errors['pattern']){
        <p class="invalid-feedback">Invalid URL format</p>
      }
      
    }
    </div>
    
    <div>
      <h2>Telegram Link</h2>
      <input id="telegramLink" formControlName="telegramLink" placeholder="telegram Link"
      [ngClass]="CreateRoomForm.controls['telegramLink'].errors && CreateRoomForm.controls['telegramLink'].touched? 'is-invalid':''"/>
      @if(
        CreateRoomForm.controls['telegramLink'].errors && CreateRoomForm.controls['telegramLink'].touched
      ){
        @if(CreateRoomForm.controls['telegramLink'].errors['required']){
          <p class="invalid-feedback">Telegram Link is required</p>
        }
        @if(CreateRoomForm.controls['telegramLink'].errors['pattern']){
          <p class="invalid-feedback">Invalid URL format</p>
        }
      }
    </div>
    
    <div>
      <h2>Amenities</h2>
      <div class="checkbox">
        <label>
          <input type="checkbox" formControlName="amenity1">
          <img src="images/wifi.png"> Wifi


        </label>
        <label>
          <input type="checkbox" formControlName="amenity2">
          <img src="images/freezer.png">Kitchen
      
        </label>

        <label>
          <input type="checkbox" formControlName="amenity3">
           <img src="images/air-conditioner.png">AC
        
        </label>
        <label>
          <input type="checkbox" formControlName="amenity4">
           <img src="images/bathroom.png">Bathroom
        
        </label>
        <label>
          <input type="checkbox" formControlName="amenity5">
           <img src="images/parked-car.png">Parking
           
        </label>
      </div>
    </div>
    <div>
    
    <div>
      <h2>Address</h2>
      
      <textarea name="" id="" cols="30" rows="3" formControlName="address" placeholder="Enter Your Address"
      [ngClass]="CreateRoomForm.controls['address'].errors && CreateRoomForm.controls['address'].touched? 'is-invalid':''"></textarea>
      
      @if(
        CreateRoomForm.controls['address'].errors && CreateRoomForm.controls['address'].touched
      ){
        @if(CreateRoomForm.controls['address'].errors['required']){
          <p class="invalid-feedback">Address is required</p>
        }
      }
    </div>
    
    <div>
      <h2>Location</h2>
      <input id="location" formControlName="location" placeholder="choose your  Location"
      [ngClass]="CreateRoomForm.controls['location'].errors && CreateRoomForm.controls['location'].touched? 'is-invalid':''"/>
      
      @if(
        CreateRoomForm.controls['location'].errors && CreateRoomForm.controls['location'].touched
      ){
        @if(CreateRoomForm.controls['location'].errors['required']){
          <p class="invalid-feedback">Location is required</p>
        }
      }
    </div>
    
    <div>
      <h2>Room Images</h2>
      <input id="roomImages" type="file" multiple  formControlName="roomImages"
      [ngClass]="CreateRoomForm.controls['roomImages'].errors && CreateRoomForm.controls['roomImages'].touched? 'is-invalid':''"/>
      
      @if(
        CreateRoomForm.controls['roomImages'].errors && CreateRoomForm.controls['roomImages'].touched
      ){
        @if(CreateRoomForm.controls['roomImages'].errors['required']){
          <p class="invalid-feedback">Room Images is required</p>
        }
      }
    </div>
    
    <div>
      <h2>Rent</h2>
      <input id="rent" type="number" formControlName="rent" placeholder="Enter Your Room Rent"
      [ngClass]="CreateRoomForm.controls['rent'].errors && CreateRoomForm.controls['rent'].touched? 'is-invalid':''"/>
      
      @if(
        CreateRoomForm.controls['rent'].errors && CreateRoomForm.controls['rent'].touched
      ){
        @if(CreateRoomForm.controls['rent'].errors['required']){
          <p class="invalid-feedback">Rent is required</p>
        }
        @if(CreateRoomForm.controls['rent'].errors['min']){
          <p class="invalid-feedback">Rent can not be negative</p>
        }
        
      }
    </div>
    
    <div>
      <h2>Preferences</h2>
      <div class="checkbox">
        <label>
          <input type="checkbox" formControlName="preference1" class="veg">Veg
        </label>
        <label>
          <input type="checkbox" formControlName="preference2">Nonveg
        </label>
        <label>
          <input type="checkbox" formControlName="preference3">Smoking
        </label>
        <label>
          <input type="checkbox" formControlName="preference4">Drinking
        </label>
      </div>
    </div>
    <button type="submit">Create Room</button>
  </div>
  </div>
  </form>