<form
  [formGroup]="registerFormGroup"
  (ngSubmit)="onSubmit()"
  class="m-5 card p-3"
>
  <div class="mb-3 col">
    <label class="form-label">First name</label>
    <input
      type="text"
      id=""
      placeholder="first name"
      formControlName="firstName"
      class="form-control"
    />
  </div>
  <div class="mb-3 col">
    <label class="form-label">Last name</label>
    <input
      class="form-control"
      type="text"
      placeholder="Last name"
      formControlName="lastName"
    />
  </div>

  <div class="mb-3 col">
    <label class="form-label"> Email</label>
    <input
      class="form-control"
      type="text"
      placeholder="Enter email"
      formControlName="email"
    />
  </div>

  <div class="mb-3 col">
    <label class="form-label"> Phone Number</label>
    <input
      class="form-control"
      type="number"
      placeholder="Enter phone number"
      formControlName="phoneNumber"
    />
  </div>

  <button type="submit" class="btn btn-primary btn-raised">Register</button>
</form>
