.contain{
    background-color: #f3ebff;
    max-height: 100%;
    border: 1px solid #f9f8f8;
  }
   .reset-password-container {
     
      margin: 8% auto;
      
      border-radius: 5px;
      height:70vh;
      background-color: rgb(255, 255, 255);
      padding: 50px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 400px;
      font-size: 29px;
     
    }
    
    .logo {
      width: 65%;
      height: 18vh;
      margin-top: -10%;
    }
    
    h2{
      color: #6b23d4;
      font-size: 28px;
      text-align: left;
    }
    
    .input-field {
      width: 100%;
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid #000000;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 17px;
    }
    .input-field .error{
      border:2px solid red;
      
    }
  
    .form-group {
      margin-bottom: 15px;
    }
    
    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: #6a1b9a;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 20px;
    }
    
    button:disabled {
      background-color: #ddd;
      cursor: not-allowed;
    }
   
    .login-link {
      margin-top: 10px;
      font-size: 14px;
      padding: 30px;
    }
    
    .login-link a {
      color: #1b439a;
      text-decoration: none;
    }
     
    .login-link a:hover {
      color: #1b439a;
      text-decoration: underline;
    }

  
  
   @media (min-width: 992px) and (max-width:1199px) {

    .contain{
      
      height: 100vh;
    }
    .reset-password-container {
      
      margin: 8% auto;
      height:70vh;
      padding: 50px;
      width: 400px;
      font-size: 29px;
     
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .contain{
      height: 100vh;
    }
    .reset-password-container {
      
      margin: 8% auto;
      height:70vh;
      padding: 50px;
      width: 400px;
      font-size: 29px;
     
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .contain{
      height: 100vh;
      padding: 25px 0;
    }
    .reset-password-container {
      
      margin: 8% auto;
      height:70vh;
      padding: 50px;
      width: 400px;
      font-size: 29px;
     
    }
  }
  @media (max-width: 575px) {
    .contain{
      height: 100vh;
      padding: 35px 0;
    }
    .reset-password-container {
      width: 70%;
      padding: 20px;
      height: auto; 
    }
  
    .logo {
      width: 80%;
      height: auto; 
      margin-top: 0; 
    }
  
    h2 {
      font-size: 24px;
    }
  
    .input-field {
      font-size: 16px;
      padding: 10px;
    }
  
    button {
      font-size: 18px;
      padding: 8px;
    }
  
    .login-link {
      font-size: 12px;
      padding: 20px;
    }
  }