<div class="reset-password-container">
    <img src="images/logo.jpg" alt="Logo" class="logo" />
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <h2>Email</h2>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter your email address"
          class="input-field"
          [ngClass]="resetPasswordForm.controls['email'].errors &&
         resetPasswordForm.controls['email'].touched? 'is-invalid' : ''   "/>
        @if (
          resetPasswordForm.controls["email"].errors &&
          resetPasswordForm.controls["email"].touched
          ){
            @if (resetPasswordForm.controls["email"].errors["required"]) {
              <div class="invalid-feedback">Valid Email address is required</div>
            }
            @if (resetPasswordForm.controls["email"].errors["email"]) {
              <div class="invalid-feedback">Invalid Email format</div>
            }

            
          }
      </div>
      <button type="submit"
       [disabled]="resetPasswordForm.invalid"
       >
        Reset Password <i class="fa fa-lock" style="font-size:24px"></i>
      </button>
    </form>
    <p class="login-link">
      Remember your password? <a href="#">Login here</a>
    </p>
  </div>
