.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3ebff;
}


.card {
    background-color: white;
    border-radius: 8px;
    padding: 100px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 60vh;
  }
.icon img {
width: 70px;
height: 70px;
margin-top: -30px;
}

h2 {
color: #555;
margin-bottom: 20px;
font-size: 25px;
margin-top:10px ;
}
.btn {
background-color: #6b23d4;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;
width: 70%;
margin-top: 20px;
margin-left: 15%;

}

.btn:hover {
background-color: #5821b7;
}