body {
  background-color: #f2f2f2;
  font-family: sans-serif;
  text-align: center;
  padding: 0 500px 50px 500px;
  margin-top: 200px;
}

.container {
  background-color: #fff;
  padding: 40px;
  margin: 30px auto;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width:50%;

 
}



.success-icon {
  font-size: 100px;
  color: #4CAF50;
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  background-color: #673ab7;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #6a598d;
}

@media  (max-width: 767px) {

 
.container{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50%;
}

}


