{
  "printWidth": 80,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "arrowParens": "avoid",
        "bracketSameLine": false,
        "bracketSpacing": true,
        "jsxSingleQuote": false,
        "singleAttributePerLine": false
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
