body {
    margin: 0px;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 250px;
    margin-left: -7%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar .logo img{
    height: 15vh;
    width: 100%;
}

.sidebar .menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
}
.sidebar .menu a.active, .sidebar .menu a:hover {
    background-color: #dcdcdc;
}
.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    overflow-y: auto;
    margin-left: -10px;
}
.main-content .header {
    margin-bottom: 20px;
}
.main-content .header h1 {
    margin: 0;
    font-size: 24px;
    color: #6b23d4;
}
.main-content .header p {
    margin: 5px 0;
    color: #666;
}
.main-content .search-bar {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.main-content .search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.main-content .search-bar button {
    padding: 10px;
    border: none;
    background-color: #6b23d4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.main-content .search-bar button:hover {
    background-color: #6a23d4cd;
}
.recent-searches {
    margin-bottom: 30px;
}
.recent-searches h2 {
    margin-top: 0;
}
.search-cards, .unique-accommodation {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    height: 45vh;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.card-info {
    padding: 10px;
    box-sizing: border-box;
}
.card-info h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}
.card-info p {
    margin: 5px 0;
    color: #666;
}
.card:hover {
    box-shadow: 0 10px 10px #6b23d4;
    transform: translateY(-5px);
    transition: 0.5s;
    cursor: pointer;
}
.map-section {
    width: 400px;
    padding: 0px;
    box-sizing: border-box;
    margin-right: -10%;
}

.map-section .map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map-section .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}