.login-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3ebff;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .logo {
    width: 80%;
    height: 15vh;
    margin-top: -10%;
  }
  
  h2 {
    color: #6b23d4;
    font-size: 21px;
    text-align: left;
    margin: 10px 0;
  }
  
  .input-field {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .input-field.is-invalid {
    border-color: red;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .remember-me label {
    margin-left: 5px;
    color: #000000;
    font-size: 21px;
  }
  
  .login-button {
    background-color: #6b23d4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .login-button:hover {
    background-color: #6a23d4d6;
  }
  
  .links {
    margin-top: 20px;
    font-size: 21px;
  }
  
  .links a {
    display: block;
    color: #6b23d4;
    font-size: 18px;
    text-decoration: none;
    margin: 5px 0;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  
  
  
  
  
  
  