.failure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3ebff;
}
.card {
    background-color: white;
    border-radius: 8px;
    padding: 70px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
}
.icon img {
width: 50px;
height: 50px;
margin-top: 1px;
}

h3,h2 {
color: #555;
margin-bottom: 40px;
}
.btn {
background-color: #6b23d4;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
width: 50%;
margin-left: 24%;
}

.btn:hover {
background-color: #5821b7;
}


    
@media screen and (min-width: 992px) and (max-width: 1199px) {
.card {
width: 45%;

}
.icon img {
width: 60px;
 height: 60px;

 }

h3, h2 {
margin-bottom: 45px;
font-size: large;

}
.btn {
padding: 12px;
width: 45%;

margin-left: 27%;
}
}
    
 @media screen and (min-width: 768px) and (max-width: 991px) {
    .card {
    width: 50%;

    }

    .icon img {
    width: 50px;

    height: 50px;
    }
    h3, h2 {
 margin-bottom: 40px;

    font-size: larger;
    }
    .btn {
    padding: 5px;
    width: 50%;
    margin-left: 25%;
    }

    }
    
    @media screen and (min-width: 561px) and (max-width: 768px) {
    .card {
 width: 50%;
    }
    .icon img {
    width: 40px;
    height: 40px;

    }
    h3, h2 {

    margin-bottom: 35px;
    font-size: 100%;
    }

    .btn {
    width: 100%;
    padding: 2%;

    margin-left: 2%;
   
    font-size: smaller;
    }
    }
    
    @media screen and (max-width :560px){
        .card{
             width: 100%;

        }
        .icon img{
             width: 40px;
             height: 40px;
         }
         h3,h2{
             margin-bottom: 30px;
             font-size: medium;
         }
         .btn{
             width: 100%;
             margin-left: auto;
         }
    }
    @media screen and (max-width :375px){
        .card{
             width: 100%;
             padding: 20px;
    }
    h3,h2{
        font-size: medium;
    }
    .btn{
         width: 100%;

         margin-left: auto;
    }
}