<div class="container">
  <form [formGroup]="setPassword" (ngSubmit)="onLoginClick()">
  <div class="set-password-container">
      <img src="images/logo.jpg" alt="Logo" class="logo" />
          <div class="form-group">
            <div>
              <h3>Password</h3>
              <input type="password"
                class="input-field"
                formControlName="password"
                placeholder="Enter your password"
                [ngClass]="
                setPassword.controls['password'].errors &&
                setPassword.controls['password'].touched
                  ? 'is-invalid'
                  : ''   "/>
          
                  @if (
                    setPassword.controls["password"].errors &&
                    setPassword.controls["password"].touched
                      ){
        
                    @if (setPassword.controls["password"].errors["required"]) {
                      <div class="invalid-feedback">Password is required</div>
                     }
        
                    @if (setPassword.controls["password"].errors["minlength"]) {
                      <div class="invalid-feedback">Minimum 6 characters required</div>
                    }
                    @if (setPassword.controls["password"].errors["maxlength"]) {
                      <div class="invalid-feedback">Maximum 16 characters allowed..</div>
                    }
                    }
            </div>
        
            <div>
              <h3>Confirm Password</h3>
              <input type="password"
                class="input-field"
                formControlName="confirmPassword"
                placeholder="Confirm your password"
                [ngClass]="
                setPassword.controls['confirmPassword'].errors &&
                setPassword.controls['confirmPassword'].touched
                  ? 'is-invalid'
                  : ''   "/>
          
               
                  @if (
                    setPassword.controls["confirmPassword"].errors &&
                    setPassword.controls["confirmPassword"].touched
                      ){
        
                    @if (setPassword.controls["confirmPassword"].errors["required"]) {
                      <div class="invalid-feedback">ConfirmPassword is required</div>
                     }
        
                    @if (setPassword.controls["confirmPassword"].errors["minlength"]) {
                      <div class="invalid-feedback">Minimum 6 characters required</div>
                    }
                    @if (setPassword.controls["confirmPassword"].errors["maxlength"]) {
                      <div class="invalid-feedback">Maximum 16 characters allowed..</div>
                    }
                    }
            </div>
        
          <button type="submit">Set Password <i class="fa fa-check-circle"></i></button>
          </div>
        </div>
      </form>
  </div>