.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100%;
  background-color: #f3ebff;
}

.set-password-container {
  background-color: white;
  border-radius: 8px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.logo {
  width: 80%;
  height: 15vh;
  margin-top: -10%;
}

h3 {
  color: #6b23d4;
  font-size: 21px;
  text-align: left;
  margin: 20px 0;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-field.is-invalid {
  border-color: red;
}
button {
  background-color: #6b23d4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #6a23d4d6;
}


